@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --primary: #2ecc71;
  --primary-hover: #27ae60;
  --danger: #e74c3c;
  --light-bg: #f9f9f9;
  --text-dark: #2c3e50;
  --border-radius: 12px;
  --transition: all 0.3s ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
  color: var(--text-dark);
}

.main {
  min-height: 90vh;
}

.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #f8f9fa;
  color: #333;
  font-size: 0.8rem;
  border-top: 1px solid #e5e5e5;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0051a3;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
